<%
    var arryDataItems = [];
    for (var d in dataSet) {
        arryDataItems.push(dataSet[d]);
    }
    var fields = [ 
        'accountNum', 
        'name', 
        'accountBal', 
        'avgAccountBal', 
        'monthsInDeficit', 
        'monthsTilDeficit', 
        'phone', 
        'email' 
    ];
    
    var getClass = function(data, field) {
        var result = '';
        var value = data[field];
        
        if (field == 'accountBal') {
            if (value <= 0 || value < data.avgPayroll) {
                result = 'class="balrep-red" ';
            }
            else if (value < data.avgPayroll * 1.5) {
                result = 'class="balrep-orange" ';
            }
            else if (value < data.avgPayroll * 2) {
                result = 'class="balrep-yellow" ';
            }
        }

        else if (field == 'monthsInDeficit') {
            if (value == 1) {
                result = 'class="balrep-yellow" ';
            }
            else if (value == 2) {
                result = 'class="balrep-orange" ';
            }
            else if (value == 3) {
                result = 'class="balrep-red" ';
            }
        }
        
        return result;
    };
%>

<table class="table op-table" id="balreport-review-table">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Name</th>
            <th>Current Account Balance</th>
            <th>Avg Monthly Balance</th>
            <th># Months in Deficit</th>
            <th>Months until Deficit</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>

    <% arryDataItems.forEach(function(data) { %>
        <tr>
        <% fields.forEach(function(field) { %>
            <% var value = data[field]; %>
            
            <% if (field == 'email') { %>
                
                <td field="<%=field%>">
                    <a href="mailto:<%= value %>"><%= value %></a>
                </td>
                
            <% } else { %>

                <td <%= getClass(data, field) %> field="<%=field%>">
                    <%= value %>
                </td>
                
            <% } %>
        <% }); %>
        </tr>
    <% }); %>
    
    </tbody>
</table>
    