<%
    var availableFields = {};
    for (var d in dataSet) {
        for (var field in dataSet[d]) {
            availableFields[field] = true;
        }
        break;
    }
    
    var fields = [ 
        'accountNum', 'name', 'accountBal', 'avgAccountBal', 
        'monthsInDeficit', 'monthsTilDeficit', 'phone', 'email'
    ];

    // Change 'accountBal' to 'estimatedBal' if possible
    if (availableFields.estimatedBal) {
        fields[2] = 'estimatedBal';
    }
    // Add optional I&E column
    if (canDrillDown) {
        fields.push('I&E');
    }
    
%>
    <table class="table op-table" id="balreport-review-table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Name</th>
                <th>
                <% if (availableFields.estimatedBal) { %>
                    Estimated Account Balance
                <% } else { %>
                    Account Balance
                <% } %>
                </th>
                <th>Avg Monthly Balance</th>
                <th># Months in Deficit</th>
                <th>Months until Deficit</th>
                <th>Phone</th>
                <th>Email</th>
                <% if (canDrillDown) { %>
                    <th>I&amp;E</th>
                <% } %>
            </tr>
        </thead>
        
        <tbody>
        <% for (var d in dataSet) { %>
            <% var data = dataSet[d]; %>
            <tr>
            <% fields.forEach(function(field) { %>
                <% var value = data[field]; %>
                
                <% if (field == 'email') { %>
                    <td field="<%=field%>">
                        <a href="mailto:<%= value %>"><%= value %></a>
                    </td>
                
                <% } else if (field == 'I&E') { %>
                    <td class="income-expenditure">
                        <a href="#" account="<%= data.accountNum %>" class="btn">...</a>
                    </td>
                    
                <% } else if (field == 'monthsInDeficit' && value > 0) { %>
                    <% 
                        // Make a tooltip with details of the periods that were
                        // in deficit.
                        var deficitsString = '';
                        if (data.deficits) {
                            var deficitsList = [];
                            for (var period in data.deficits) {
                                deficitsList.push('<b>'+period+'</b>: ' + data.deficits[period]);
                            }
                            deficitsString = deficitsList.join(',<br>');
                        }
                    %>
                    <td class="balrep-deficit" field="<%= field %>" title="<%= deficitsString %>">
                        <%= value || '-' %>
                    </td>
                
                <% } else { %>
                    <%
                        // figure out any class attachments.
                        var rowClass = '';
                        
                        var isBalanceField = {
                            'accountBal': true, 
                            'estimatedBal': true
                        };
                        
                        var numVal = Number(String(value).replace(',', ''));
                        
                        // when balance < 2000 then should be yellow (warning)
                        if (isBalanceField[field] && (numVal < 2000)) {
                            rowClass = 'balrep-warn';
                        }
                        
                        // when balance < 0 then should be red
                        if (isBalanceField[field] && (numVal < 0)) {
                            rowClass = 'balrep-deficit';
                        }
                    %>
                    <td class="<%== rowClass %>" field="<%=field%>">
                        <%= data[field] || '-' %>
                    </td>
                
                <% } %>
            <% }); %>
            </tr>
        <% } %>
        </tbody>
    </table>
